.header_strip{
   text-align: center;
   padding: 1rem; 
   background-color: $black_color;
   color: $white_color;
}
.main_header{
   .main_header{
      .nav-link{
         padding: 0.5rem 1.4rem;
      }
   }
}