$primary_color:#E21C21;
$secondary_color:#000;
$primary_color2:#9F8D89;
$grey_600:#6c757d;
$black_color:#000000;
$white_color:#ffffff;
$global_radius:14px;
$card_radius:20px;


$Fields_Color:#F7F7F9;



