@import "./variables";
@import "./mixins";
@import "./resetStyle";
@import "./helper";
@import "./pages/pages";
// components
@import "./components/header";
@import "./components/footer";
// components ends

@import "./customStyle";
@import "./responsive";







@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Barlow', sans-serif;
    color: $secondary_color;
}
.mySwiperVertical{
    height: 100%!important;
}
.modal{
    display: block;
    background-color: rgb(43 43 43 / 70%);
}