@import "./variables";
@import "./mixins";
@import "./resetStyle";
@import "./helper";
@import "./pages/pages";
// components
@import "./components/header";
@import "./components/footer";
// components ends

@import "./customStyle";
@import "./responsive";







@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Barlow', sans-serif;
    color: $secondary_color;
}
.error_message{
    color: red;
}